body {
    background-color: #ecd5f4;
    font-family: Verdana;
    text-align: left;
}

form {
    background-color: #fff;
    text-align: left;
    max-width: 100%;
    margin: 1% 1%;
    padding: 10px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

form:invalid input[type="submit"] {
    background-color: red
}


/* Styling form-control Class */
.form-control {
    text-align: left;
    max-width: 100%;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input, select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    width: 100%;
}

/* Styling Button */
button {
    background-color: #a2a7ee;
    border: 1px solid #777;
    border-radius: 5px;
    font-family: inherit;
    font-size: 21px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
button:hover {
    background-color: #4220ec; /* Green */
    color: white;
}

